/* 헤더 스타일 */
.header {
  padding: 20px;
  background-color: #000;
}
.header a {
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
}

.header a:hover {
  color: #fff000;
}

.header-user {
  /* 옆으로 이동 및 간격 조정 */
  display: inline-flex;
  gap: 10px;
  color: red;
  /* 반듯하게 조정 */
  align-items: center;

}

.btn-logout {
  padding: 6px 12px;
  /* 버튼 투명 */
  background-color: transparent;
  color: #fff;
  border: 1px solid orange;
  cursor: pointer;
  border-radius: 5px;

}

/* Main 스타일 */
.contents {
  margin-top: 30px;
}

/* 상품 목록 스타일 */
.table-list {
  /* border: 1px solid #ccc; */
  /* 가운데 정렬 */
  margin: 15px auto;
  /* %(가변크기):브라우저의 너비의 60% // px(고정크기) */
  width: 60%;
  /* 테두리 합치기 // separate(나누기, 원래 형태) */
  border-collapse: collapse;
  
}

.table-list th, td {
  border: 1px solid #ccc;
  padding: 6px;

}

.table-list thead {
  background-color: #eee;

}

.table-list tr a {
  color: #333;
  text-decoration: none;
}

.table-list tr a:hover {
  text-decoration: underline;
  color: #000;
  opacity: 80%;
}

.btn-add {
  text-align: right;
  margin-right: 20%;
  
}

.btn-add button {
  padding: 6px 12px;
}

/* 상품 정보 스타일 */
.product-details {
  width: 40%;
  background-color: #eee;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  text-align: left;

}

.product-details p {
  margin: 16px;
}

.btn-list {
  margin: 20px;
  text-align: center;
  
}

.btn-list button {
  padding: 6px 12px;
  cursor: pointer;
}

/* 상품 등록 스타일 */
.add-form {
  width: 40%;
  margin: 20px auto;
  text-align: left;
}

.add-form label {
  display: block;
  margin: 6px;
}

.add-form input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-form textarea {
  resize: none;
  height: 80px;
}

.add-form button {
  padding: 8px 16px;
  background-color: lightgreen;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
}

/* 로그인 스타일 */
.signin-form {
  width: 30%;
  margin: 20px auto;
  text-align: left;

}

.signin-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.signin-form button {
  padding: 8px 16px;
  background-color: lightgrey;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  width: 100%;
  margin-left: 3%;
}