/* 헤더 스타일 */
.header {
  padding: 20px;
  background-color: #000;
}
.header a {
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
}

.header a:hover {
  color: #fff000;
}

.header-user {
  /* 옆으로 이동 및 간격 조정 */
  display: inline-flex;
  gap: 10px;
  color: red;
  /* 반듯하게 조정 */
  align-items: center;

}

.btn-logout {
  padding: 6px 12px;
  /* 버튼 투명 */
  background-color: transparent;
  color: #fff;
  border: 1px solid orange;
  cursor: pointer;
  border-radius: 5px;

}

/* Main 스타일 */
.contents {
  margin-top: 30px;
}